body {
  background-image: url('./background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container .control-panel {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  width: 90rem;
  height: 10rem;
}

.container .control-panel .key {
  width: 7rem;
  height: 5rem;
  border: .3rem solid #000;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.container .control-panel kbd {
  font-size: 32px;
  color: #fff;
}
 
